<settings>
	<localRepository>/home/sasikumar/.m2/repository</localRepository>
  <servers>
   <server>
      <id>ossrh</id>
      <username>mosip</username>
      <password>Mindtree@123</password>
    </server>

 <server>
       <id>central</id>
  <username>kFrz9TaP</username>
  <password>GkXd2wWCYLQYHAYHXzngqrsDeita9ZHnPx6Ddcl6kn3B</password>
</server>

  </servers>
  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg2</gpg.executable>
        <gpg.passphrase>38SeZZm6DZ#ksc9s96Kn9</gpg.passphrase>
      </properties>
    </profile>

 <profile>
     <id>allow-snapshots</id>
        <activation><activeByDefault>true</activeByDefault></activation>
     <repositories>
       <repository>
         <id>snapshots-repo</id>
         <url>https://oss.sonatype.org/content/repositories/snapshots</url>
         <releases><enabled>false</enabled></releases>
         <snapshots><enabled>true</enabled></snapshots>
       </repository>

        <repository>
         <id>releases-repo</id>
         <url>https://oss.sonatype.org/service/local/staging/deploy/maven2</url>
         <releases><enabled>false</enabled></releases>
         <snapshots><enabled>false</enabled></snapshots>
       </repository>

     </repositories>
   </profile>

  </profiles>
</settings>
